<h1>
  Username: <%= @user.username %>
</h1>
<p>
  Bio: <%= @user.bio %>
</p>
<% if @editable %>
  <%= link_to 'edit', edit_profile_path(@user) %>
<% end %>

<h2>Upvote</h2>
<p>
Total Upvote: <%= @thumbup_num %> Total Downvote: <%= @thumbdown_num %> 
</p>

<%= render 'thumbs/form', target: profile_thumbs_path(@user) %>


<h2>Add a comment:</h2>
<%= render 'comments/form', target: profile_comments_path(@user) %>

<h2>Comments</h2>
<%= render @user.comments %>






