<% cache @game, @group do %>
  <h1>Current Group: <%= @group.group_name%></h1>
  <h2>Group ID: <%= @group.id%></h2>
  <h2>Max Number: <%= @group.max_member_count%></h2>
  <h2>Members (<%= @group.members.size %>)</h2>
  <ul>
    <% @group.group_memberships.each do |m| %>
      <li><%= m.user.username %><%= ' (Owner)' if m.owner? %></li>
    <% end %>
  </ul>
  <h2>Description: <%= @group.description%></h2>
  <h2>Activity: <%= @group.activity%></h2>
  <h2>Game: <%= @game.name%></h2>
  <%= button_to 'Join Group', join_game_group_path(@game, @group), method: :post %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form', target: game_group_comments_path(@game, @group) %>

  <h2>Comments</h2>
  <%= render @group.comments %>

  <%= link_to 'Edit', edit_game_group_path(@group) %> |
  <%= link_to 'Back', game_groups_path(@game) %>
<% end %>
