<div class="container mx-auto">
  <%= render "home/titlebar"%>
  
  <%# Game Selection %>
  <div class="flex mt-16">
    
    <div class="flex px-10 py-6 bg-gray-800 rounded-t-sm">
      <label for="games">Game List</label>
    <%#  <%= form_with url: select_game_path do |f| %>
    <%#     <%= f.collection_select(:game, Game.all, :id, :name, prompt: "Please select your game") %>
    <%#     <%= f.submit "Select", class: "bg-gray-700 h-full px-4 py-2" %>
    <%#   <% end %>
    </div>

    <div class="flex flex-grow justify-end bg-gray-800">
      <div class="flex flex-grow justify-end pr-6 bg-gray-900 rounded-bl-sm">
        <%# <button class="border-blue-300 bg-blue-500 bg-opacity-60 border  self-center py-2 px-8 hover:bg-blue-400 hover:bg-opacity-60 ml-6">Create Team</button> %>
      </div> 
    </div>
  </div>
  
  <div class="bg-gray-800 rounded-tr-sm rounded-b-sm py-10">
    <% @games.each do |game| %>
      <div class="bg-gray-700 border-l-8 border-red-400 rounded-sm mx-10 px-6 py-3 shadow-lg hover:bg-gray-600 transition duration-500 transform hover:-translate-y-0.5 hover:-translate-x-0.5 hover:shadow-2xl">
        <%= link_to game.name, game_groups_path(game), class: "flex flex-grow"%>
      </div>
      <div class="my-4">
    <% end %>
  </div>
</div>
