<% if current_user %>
  <%= link_to "profile", profile_path(current_user)  %>
  <%= link_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "login", new_user_session_path %>
<% end %>
<br><br>
<label for="games">Games List</label>
<%=form_tag('/home/0/select_game') do %>
  <%= select_tag(:game, options_for_select(@games.map{ |i| i.name })) %>
  <%= submit_tag "Select" %>
<% end %>
