<% if current_user %>
  <%= link_to "profile", profile_path(current_user)  %>
  <%= link_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= link_to "login", new_user_session_path %>
<% end %>
<br><br>
<label for="games">Games List</label>
<% cache Game do %>
  <%= form_with url: select_game_path do |f| %>
    <%= f.collection_select :game, Game.all, :id, :name, prompt: true %>
    <%= f.submit "Select" %>
  <% end %>
<% end %>
